<?xml version='1.0' encoding='utf-8'?>
<widget id="com.farmered.hralarm" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HR Alarm</name>
    <description>
        BLE Heart Rate Alarm
    </description>
    <author> 
        Farmer-Ed
    </author>
    <content src="index.html"/>
    <access origin="*" />
    <allow-navigation href="*"/>
    <preference name="android-minSdkVersion" value="22"/>
    
    <!-- Plugins -->
    <plugin name="cordova-plugin-background-mode" source="npm" />
    <plugin name="cordova-plugin-ble-central" source="npm" />
    <plugin name="cordova-plugin-notifications-permission" source="npm" />
    <plugin name="cordova-plugin-device" source="npm" />
    <plugin name="cordova-plugin-dialogs" source="npm" />

    <!-- Android-specific settings -->
    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>
    </platform>
</widget>